[run]
# Include all files in the test directory for coverage analysis
include =  uqmodels/*

# Exclude certain specific files or folders that are not relevant for coverage
omit =

	uqmodels/visualisation/visualization_multisources.py

	uqmodels/visualisation/old_visualization.py

	uqmodels/custom_UQModel.py

	#  This functionnality is not used for now
	uqmodels/preprocessing/* 
	#  This functionnality is not used for now   
	uqmodels/evaluation/* 

	uqmodels/modelization/DL_estimator/loss.py

	uqmodels/modelization/DL_estimator/metalayers.py



[report]
# Show coverage percentages in the terminal
show_missing = True
skip_covered = False
